
            .section-2 {
                    background-color:white;
                    height:931px;
            }

            .option-section {
                display :flex;
                width :100%;
                height: 100%;

            }
            .img-section {
             width:65%;
             height:100%;
             border-right:1px solid black;

            }
            .img-section > .img-container {


                 width :  1000px ;
                 height: 800px ;
                margin-left: auto;
                margin-right: auto;


            }
            .price-text {
             margin-bottom:15px;
            }


            .img-item1 {
                    width :100% ;
                    height: 60%;


            }



             .img-section> .img-container>.information-box {
                            width :  600px ;
                            height: 25g0px ;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top:15px;
                        font-size: 25px;
             }

            .select-section {
             width:35%;
             height:100%;


            }



            .option-container {

            width: 100%;
            height:100%;

            margin-top:0px;

            }
             .option-container > .scrollable-container {
             height:80%;
             width : 90%;

                overflow-y: scroll;


             }



            .option-box{
            width :100%;
            height:80%;


             display : flex;
             flex-wrap :wrap;
            }


            .option-item {
            width:40%;
            margin : 10px 0px;
            margin-left :40px;
            height:220px;
            text-align:center;
            box-sizing:border-box;
            border:1px solid gray;
            border-radius: 5px; /* 둥근 모서리 */
            position:relative;

            }


            .option-box-img {
            width :100%;
            height:70%;
            }


            /* 이미지 아래에 글이랑 가격 있는 공간  */
            .check{

            padding-bottom :10px;
            display:inline-block;
            width:100%;
            height:30%;
            margin-left:auto;
            margin-right:auto;
            box-sizing:border-box;
            }


            .option-item > div> a > .checkbox{

            display:none;


            }




    .scrollable-container::-webkit-scrollbar {
    width: 20px; /* Adjust the scrollbar width as needed */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


            .border-highlight2 {


                border-radius: 5px; /* 둥근 모서리 */
                background-color: rgba(173, 216, 230, 0);

                transition: transform 0.3s ease, background-color 0.3s ease; /* 부드러운 변화 효과 */
                 border:2px solid #007fa8;


            }


            .resultImg {
            width:500px;
            height:500px;
            border:1px solid red;
            }