<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fullpage 연습</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="fullpage.css" />
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 풀페이지 불러오기 -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.19/fullpage.css"
    />
<!--    섹션 1,2,3  css 와 js  -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/section1.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/section2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/section3.css}"/>
    <script src="/js/all.js" defer></script>

    <script src="/js/section2.js" defer></script>
    <script src="/js/section3.js" defer></script>
<!--숫자 자동으로 , 붙이게 하는 js -->
    <script src="/js/money.js" defer></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.19/fullpage.min.js"></script>

</head>
<body>

<form id="section3-form" th:action="@{/dd}"  method="post">
<!--    탑바 시작-->
    <div class="top-bar-test">
        <div style="font-size:20px" ><a href="/myPage">myPage</a>  </div>
        <div></div>
    </div>

<!--    탑바 끝   -->

    <div id="fullpage">
        <div class="video-container">
            <video autoplay loop muted playsinline>
                <source src="video.mp4" id="video1"  type="video/mp4">
                <!-- Add more source elements for different video formats if needed -->


            </video>
        </div>
    <!-- 1 -->
    <div class="section section-1">


        <a href="#section2"
        ></a>
    </div>
    <!-- fp-auto-height 화면높이만큼 다음페이지 살짝나옴 -->
    <!-- 2 -->

    <div class="section section-2">
        <div>옵션</div>
        <div class="option-section">
            <!--          이미지 넣을 공간-->
            <div class="img-section">

                <div class="img-container">

                    <div><h2 style="font-size:60px; margin-top:80px; margin-bottom:10px;">디 올 뉴 싼타페 - 프레스티지</h2></div>
                    <div class="price-text" style="font-size : 40px; "> <span style="font-size:20px;     font-weight: bold;">총 차량 가격 </span> <span id="money" style="font-size:50px;    font-weight: bold;">35460000</span><span class="option-price" id="money2" style="display:none;" >35460000</span> <span style="font-size:50px;    font-weight: bold;">원</span>  </div>

                    <img class="img-item1" src="https://www.hyundai.com/contents/spec/MX5/phone.jpg" alt="">

                    <div class="information-box">
                        <span class="information-text">스마트폰 2대를 별도의 케이블 없이 고속 충전할 수 있는 듀얼 무선 충전 시스템이 적용되어 사용성을 높였습니다.</span>
                    </div>
                </div>
            </div>

            <!--           옵션 선택 넣을 공간-->
            <div class="select-section">


                <div class="option-container">
                    <h2 style="margin-top:100px; margin-bottom:20px; margin-left:40px">옵션</h2>
                    <div class="scrollable-container">
                        <div class="option-box" >
                            <div  id="box" class="option-item"  th:each="carOption : ${carOption}" th:id="${carOption.id}">
                                <a >
                                    <img class="option-box-img" th:src="${carOption.imgUrl}" th:alt="${carOption.name}" th:data-img-url="${carOption.imgUrl}"  th:information-text="${carOption.information}">
                                </a>
                                <div  class="check"  type="optionId" th:optionId="${carOption.id}" onclick="doCheck(this)"  th:value="${carOption.price}+이용균입니다." >
                                    <a href="#" >
                                        <input class="checkbox" type="checkbox" th:name="optionId" th:value="${carOption.id}" >
                                        <div th:text="${carOption.name}"></div>
                                        <div class="price2" style="display:inline-block; " th:text="${carOption.price}+원"><span>원</span></div><span>원</span>

                                        <div class="price" style="display:none;" th:text="${carOption.price}"></div>
                                        <br>
                                        <input class="radio" type="radio"  >
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>





    </div>

    <!-- 3 -->
    <div class="section section-3">

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; margin: 0;">

            <!-- 변경된 부분: "Colors"는 x축을 배경 이미지의 왼쪽 끝으로, 버튼들은 x축을 배경 이미지의 오른쪽 끝으로 보내줌 -->
            <div id="headBlock"  style="display: flex; align-items: center; width: 1600px;">
                <h1 style="margin-right: auto; margin-bottom: 0; margin-left: 0; font-size: 60px;">Colors</h1>
                <div class="button-container" style="display: flex; margin-left: auto; align-items: center; margin-right: 0;">
                    <button id="externalButton" type="button" style="margin-right: 10px;" onclick="selectButton(this)">외부 색상</button>
                    <button id="internalButton"  type="button"  onclick="selectButton(this)">내부 색상</button>
                </div>
            </div>

            <div id="content1" >
                <div class="bgImg">
<!--            서버에 outImgUrl 보내주기 위한 장치      -->
                    <input class="dbGoOutImg" type="text" style="display:none;" name="outImgUrl" value="https://www.hyundai.com/contents/vr360/MX03/exterior/WW2/001.png">
                    <img class="carImg cc" src="https://www.hyundai.com/contents/vr360/MX03/exterior/WW2/001.png" alt="">
                </div>

                <div class="colorListContainer" style="margin-top: 10px; overflow: hidden;" >
                    <div class="colorList">
                        <div class="colorDiv dd" th:each="carDetail, iterStat  : ${carDetails}" onclick="doClick(this)" th:data-img-url="${carDetail.imgUrl}">
                            <div class="colorItem"
                                 th:data-img-url="${carDetail.imgUrl}"
                                 th:style="'background-image: url(\'' + ${carDetail.btnUrl} + '\')'">
                                <input class="colorCheckbox"  type="checkbox" name="outColorId" th:value="${carDetail.id}" style="display: none;" >
                            </div>
                            <div class="colorItem2" th:text="${carDetail.name}" style="text-align: center;"  ></div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="content2" >
                <div class="bgImg">
<!--                   inImgUrl를 보내주기 위해있는 장치-->
                    <input class="dbGoInImg" type="text" style="display:none;" name="inImgUrl" value="https://www.hyundai.com/contents/vr360/MX03/interior/3NB/img-interior.png">

                    <img class="carImg ccc" src="https://www.hyundai.com/contents/vr360/MX03/interior/3NB/img-interior.png" alt="">
                </div>

                <div class="colorListContainer" style="margin-top: 10px; overflow: hidden;" >
                    <div class="colorList">
                        <div class="colorDiv ddd" th:each="carDetail2, iterStat  : ${carDetails2}" onclick="doClick2(this)" th:data-img-url="${carDetail2.imgUrl}">
                            <div class="colorItem3"
                                 th:data-img-url="${carDetail2.imgUrl}"
                                 th:style="'background-image: url(\'' + ${carDetail2.btnUrl} + '\')'">
                                <input class="colorCheckbox"  type="checkbox" name="inColorId" th:value="${carDetail2.id}"  style="display: none; " >

                            </div>
                            <div class="colorItem2" th:text="${carDetail2.name}" style="text-align: center;"  ></div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" value="" name="wholePrice" />
            <button class="btn-submit" type="submit" style="margin-top:20px;" value="" name="wholePrice" >차 등록</button>


        </div>

    </div>

    <!-- 4 -->
    <div class="section section-4">
        <a href="#section1"
        ><img
                src="https://www.hyundai.com/static/images/model/santafe/23fc/the_all_new_santafe_calligraphy_black_ink.jpg"
                alt=""
        /></a>
        <h1>반갑습니다 섹션4입니다.</h1>
    </div>

        <input type="hidden" value="" name="wholePrice" />

</div>


</form>
</body>
</html>

<style>

    /*
[id 선택자]
- 동일한 이름 사용 불가능
- 한 곳에만 적용
- css표시 : #이름
[class 선택자]
- 동일한 이름 사용 가능
- 동일한 여러 곳에 적용해서 사용
- css표시 : .이름
*/
#fullpage > .section {
display: block;
}


</style>



